@media only screen and (min-width: 1920px) {

}

@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1366px) {
    .navbar-default .navbar-nav > li > a {
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-nav > li {
        margin: 7px 0px;
        padding: 10px 5px;
    }

    .ul-menu-video > li {
        padding: 5px 25px;
    }

    .slider > div span {
        padding-top: 17%;
    }

    .div-submit .div-out .btn {
        font-size: 11px;
        padding: 8px 10px;
    }
}

@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {

    .navbar-collapse {
        margin-top: 27px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .navbar-collapse > ul > li > a {
        text-align: center;
        font-size: 2em;
        border-bottom: 1px solid rgba(195, 195, 195, 0.38);
    }

    .box-pic {
        margin-bottom: 15px;
    }

    .box-2-time-table {
        margin-top: 0px;
    }

    .box-pic img {
        width: 100%;
    }

    .box-shop-pro {
        margin-bottom: 30px;
    }

    .txt-newsletter {
        margin: 0px 30px;
    }

    .ed-lasted, .ed-txt-ft {
        margin-bottom: 30px;
    }

    .navbar-nav > li {
        margin: 0px 0px;
    }

    .newsletter {
        background-attachment: fixed;
    }

    .text-sale-off h1 {
        color: #8f8f8f;
    }

    .ed-txt-ft p {
        text-align: justify;
    }

    .slider > div span {
        padding-top: 25%;
    }

    .ed-col-right h2, .ed-p-col-right {
        text-align: center;
    }

    .box-infor-staff img {
        width: 100%;
    }

    .box-infor-staff {
        margin-top: 0px;
    }

    .mg-xuong-bot {
        margin: 30px 0;
    }

    .div-submit .text-input {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }

    .slider, .slider > div {
        background-position: center center !important;
    }

}

@media (max-width: 767px) {
    .div-submit .div-social {
        text-align: center;
        margin-top: 20px;
    }

    .navbar-nav > li {
        margin: 0;
        display: block;
        padding: 0px 5px;
    }

    .w3ls-banner img {
        height: 50px;
        margin-top: 0px;
    }

    button.navbar-toggle {
        margin-bottom: 10px;
    }

    .w3ls-banner .lang-social a i {
        font-size: 14px;
    }

    .w3ls-banner .language-a i {
        font-size: 14px;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav li a.active {
        font-size: 16px;
    }

    .session-video .div-title-video {
        padding: 20px 30px;
    }

    .session-video iframe {
        height: 350px;
    }

    .session-contact .div-about h2 {
        font-size: 18px;
    }

    .session-tintuc .item-news .title {
        padding: 10px 0px;
    }

    .session-tintuc .item-news .title h5 {
        font-size: 20px;
    }

    .session-dich-vu .div-title-content {
        padding: 5px 0px;
    }

    .session-dich-vu h5 {
        font-size: 20px;
        margin-bottom: 11px;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-toggle {
        float: unset;
    }

    .navbar-header {
        /*text-align: center;*/
    }

    button.navbar-toggle {
        margin: 15px 0 0;
    }

    .slider, .slider > div {
        height: 450px;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;

    }

    .footer-bottom p, .ed-social {
        width: 100%;
    }

    .txt-news {
        padding: 25px;
    }

    .text-sale-off h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .box-new-product .price-pro,
    .box-new-product .new-pro,
    .box-new-product .hour-pro {
        margin-right: 0px;
    }

    .stats-info h6 {
        color: #fff;
        letter-spacing: unset;
    }

    .slider > div span h1 {
        font-size: 45px;
    }

    .slider > div span p {
        font-size: 14px;
    }

    .navbar-nav > li {
        border-right: unset;
    }

    .ed-specialist h1 {
        font-size: 40px;
    }

    .ed-footer ul {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .footer-bottom p {
        font-size: 14px;
    }

    .slider > div span h1 {
        font-size: 40px;
    }

    .slider > div span {
        padding-top: 45%;
    }
}

@media only screen and (max-width: 320px) {

}

@media only screen and (max-height: 560px) {

}